__pycache__
*.pyc
*.pyo
.env
*.db
*.sqlite3
.git
.gitignore
.vscode
.idea
*.md
backend/tests/
frontend/gat_mentor/.dart_tool/
frontend/gat_mentor/.packages
frontend/gat_mentor/.flutter-plugins
frontend/gat_mentor/.flutter-plugins-dependencies
frontend/gat_mentor/android/
frontend/gat_mentor/ios/
frontend/gat_mentor/linux/
frontend/gat_mentor/macos/
frontend/gat_mentor/windows/
frontend/gat_mentor/test/
frontend/gat_mentor/.idea/
node_modules/
